@font-face { font-family: Quicksand_Book; src: url('css/Quicksand_Book.otf'); }

html {
	font-family: Quicksand_Book;
	background-color: white;
}

body {
	background-size: 100%;
	font-family: Quicksand_Book;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
}

.banner {
	display: block;
	width: 400px;
	position: fixed;
	background-color: #23232C;
	margin-left: 0px;
	top: 0;
	overflow: hidden;
	height: 50px;
	float: left;
}

.bannerinscription {
	float: left;
	overflow: hidden;
	position: fixed;
	margin-left: 400px;
	background-color: #525050;
	color: black;
	top: 0px;
	height: 50px;
	display: block;
	width: 200px;
}

.bannerconnect {
	float: left;
	overflow: hidden;
	position: fixed;
	margin-left: 200px;
	background-color: #23232C;
	color: black;
	top: 0px;
	height: 50px;
	display: block;
	width: 100%;
}

.nom {
	margin-left: 50px;
	margin-top: 10px;
	float: left;
	color: white;
	text-decoration: none;
}

.log {
	margin-top: -13px;
	float: left;
	margin-left: 50px; 
	
}

.collection {
	float: left;
	height: 400px;
	position: absolute; 
	margin-top: 370px;
	left: 50%; 
	transform: translate(-50%, -50%); 
}

.a {
	color: white;
	text-decoration: none;
}

.b {
	text-decoration: none;
	color: black;
}

.trait {
	float: left;
	width:5px;
    border-left:1px solid gray;
    height: 100px;
	margin-left: -49px;
	margin-top: -10px;
}

.trait2 {
	float: left;
	width:5px;
    border-left:1px solid gray;
    height: 100px;
	margin-left: -50px;
	margin-top: -20px;
}

.trait3 {
	float: left;
	width:5px;
    border-left:1px solid gray;
    height: 100px;
	margin-left: 210px;
	margin-top: -57px;
}

.banner2 {
	display: block;
	width: 100%;
	margin-top: -590px;
	overflow: hidden;
	height: 40px;
	background-color: #525050;
	position: absolute;
	float: left;
}

.menu {
	width: 100%;
	height: 15px;
 	color: white;
	display: inline;
	position: relative;
	background-color: black;
	overflow: hidden;
}

.menu ul {
	float: left; 
	left: 50%;
	position: relative;
	margin-top: 2px;
	margin-left: -500px;
}

.menu ul li {
	float: left;
	list-style-type : none;
	margin-left : 20px;
	left: -50%;
}

.menu ul li a {
	text-decoration: none;
	color: white;
	display: inline-block;
	height: 70px;
	width: 	200px;
	text-align: center; 
	background-color: #525050;
	padding-top: 0px;
}

.menu ul li a:hover {
	color: black;
	background-color: white;
}

.moncv {
	float: left;
	text-decoration: none;
	color: white;
	margin-left: 35px;
	margin-top: 10px;
    width: 200px;
}

.monparcours {
	float: left;
	text-decoration: none;
	color: white;
	margin-left: -40px;
	margin-top: 20px;
    width: 200px;
}

.bannerinscription a:hover {
	color: grey;
}

.bannerconnect a:hover {
	color: grey;
}

.piedpage {
	position: absolute;
	background-color: #23232C;
	top: 640px;
	width: 100%;
	height: 250px;
}

.download {
	float: left;
	margin-top: 20px;
	margin-left: 80%;
	color: white;
}

.cv2 {
	margin-top: 0px;
	float: left;
	margin-left: 82%;
	width: 100px;
	height: 150px;
}

.button2 {
	float: left;
      position: absolute;
      display: inline-block;
      background-color: black;
      border-radius: 5px;
      border: 0px double #cccccc;
      color: white;
      text-align: center;
      font-size: 15px;
      padding: 20px;
      width: 120px;
      transition: all 0.5s;
      cursor: pointer;
      top: 120px; left: 50%; /* à 50%/50% du parent référent */
	transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    background: rgba(0, 0, 0, 0.6);
    height: 15px;
    text-decoration: none;
      }

.button2 span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
      }
.button2 span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
      }
.button2:hover {
      background-color: black;
      }
.button2:hover span {
      padding-right: 25px;
      }
.button2:hover span:after {
      opacity: 1;
      right: 0;
      }

	  .contact {
		color: white;
	position: absolute;
	margin-top: 40px;
	left: 50%; /* à 50%/50% du parent référent */
	transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

/* TIMELINE
			–––––––––––––––––––––––––––––––––––––––––––––––––– */
			.timeline2 {
				overflow-y: scroll;
				overflow-x: hidden;
				height: 550px;
				top: calc(100%-600px);
				position: relative;
				scroll-behavior:  smooth ;
				margin-top: 90px;
				 
			}
			.timeline2   *, .timeline2   *::before, .timeline2   *::after { 
				font: normal 16px/1.5
				color: #fff;
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}
			.timeline2::-webkit-scrollbar {
				width: 12px;
				background-color: #F5F5F5;
			}
			 
			.timeline2::-webkit-scrollbar-track {
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
				border-radius: 10px;
				background-color: #F5F5F5;
			}
			 
			.timeline2::-webkit-scrollbar-thumb {
				border-radius: 10px;
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
				background-color: #555;
			}
			 
			.timeline2 ul {
				background-image: url('images/fonddiplome.jpg');
				background-size: 100%;
			  /* padding: 50px 0; */
			}

			.timeline2 ul li {
			  list-style-type: none;
			  position: relative;
			      width: 2px;/* width: 6px; */
			  margin: 0 auto;
				padding-top: 10px;/* 50px; */
				padding-bottom: 10px;/* padding-bottom: 20px; = center padding-bottom: 10px; = center */
			 background: #fff; /* background: black;  */
			  
				border-left: 3px double white;
				
			}

			 
			.timeline2 ul li::after {
			  content: '';
			  position: absolute;
			  left: 50%;
			  top: 30px; /* bottom: 0;  bottom: 50%;=center top: 30px;=top  */ 
			  transform: translateX(-55%);/* transform: translateX(-50%); */
			  -webkit-transform: translateX(-55%);
			  width: 30px;
			  height: 30px;
			  border-radius: 50%;
			  background: inherit;
			  border: 2px solid #74B0EF;
			}

			.timeline2 ul li div {
			  position: relative;
			  bottom: 0;
			  width: 400px;
			  padding: 15px;
			  background: #74B0EF;
			  
			}

			.timeline2 ul li div::before {
			  content: '';
			  position: absolute;
			  top: 20px; /* bottom: 7px; bottom: 50%;=center top: 20px;=top */
			  
			  width: 0;
			  height: 0;
			  border-style: solid;
			}

			.timeline2 ul li:nth-child(odd) div {
			  left: 45px;
			}

			.timeline2 ul li:nth-child(odd) div::before {
			  left: -15px;
				border-width: 16px 16px 16px 0;/* border-width: 8px 16px 8px 0; */
			  border-color: transparent #74B0EF transparent transparent;
			}

			.timeline2 ul li:nth-child(even) div {
			  left: -439px;
			}

			.timeline2 ul li:nth-child(even) div::before {
			  right: -15px;
			  	border-width: 16px 0 16px 16px; /* border-width: 8px 0 8px 16px; */
			  border-color: transparent transparent transparent #74B0EF;
			}
			
			
			.timeline2 ul li:nth-child(odd) .time {
				position: absolute;
				top: 20px;
				left: -100px;
				width: 90px;
			}
			.timeline2 ul li:nth-child(even) .time {
				position: absolute;
				top: 20px;
				right: -120px;
				width: 90px;
			}
			
			
			.timeline2 time {
			  display: block;
			  font-size: 1.2rem;
			  font-weight: bold;
			  margin-bottom: 8px;
			  color: white;
			}


			/* EFFECTS
			–––––––––––––––––––––––––––––––––––––––––––––––––– */

			.timeline2 ul li::after {
				transition: background .5s ease-in-out;
				-webkit-transition: background .5s ease-in-out;
			}

			.timeline2 ul li.in-view::after {
			  background: white;
			  border: 2px solid white;
			}

			.timeline2 ul li div {
			  visibility: hidden;
			  opacity: 0;
				transition: all .5s ease-in-out;
				-webkit-transition: all .5s ease-in-out;
			}

			.timeline2 ul li:nth-child(odd) div {
				transform: translate3d(200px, 0, 0);
				-webkit-transform: translate(200px, 0, 0);
			}

			.timeline2 ul li:nth-child(even) div {
				transform: translate3d(-200px, 0, 0);
				-webkit-transform: translate(-200px, 0, 0);
			}

			.timeline2 ul li.in-view div {
				transform: none;
				-webkit-transform: none;
			  visibility: visible;
			  opacity: 1;
			  /* disabled when arrow is on top position
			  border-radius: 10px;
			  */
			}
			
			.timeline2 ul li  .time {
				transition: all .5s ease-in-out;
				-webkit-transition: all .5s ease-in-out;
				transform: rotate(-90deg);
				-webkit-transform:rotate(270deg);
			}
			.timeline2 ul li.in-view  .time {
				transform: rotate(0deg);
				-webkit-transform:rotate(0deg);
			}

			/* GENERAL MEDIA QUERIES
			–––––––––––––––––––––––––––––––––––––––––––––––––– */

			@media screen and (max-width: 900px) {
			  .timeline2 ul li div {
				width: 250px;
			  }
			  .timeline2 ul li:nth-child(even) div {
				left: -289px;
				/*250+45-6*/
			  }
			}

			@media screen and (max-width: 600px) {
			  .timeline2 ul li {
				margin-left: 20px;
			  }
			  .timeline2 ul li div {
				width: calc(100vw - 120px);
			  }
			  .timeline2 ul li:nth-child(even) div {
				left: 45px;
			  }
			  .timeline2 ul li:nth-child(even) div::before {
				left: -15px;
				border-width: 16px 16px 16px 0; /* border-width: 8px 16px 8px 0;  */
				border-color: transparent #03A9F4 transparent transparent;
			  }
			  
				
				.timeline2 ul li:nth-child(odd) .time {
					position: absolute;
					top: 60px;
					left: -23px;
					width: 90px;
					/*
					transform: rotate(-90deg);
					-webkit-transform:rotate(270deg);
					*/
					transform: rotate(0deg);
					-webkit-transform:rotate(0deg);
				}
				.timeline2 ul li:nth-child(even) .time {
					position: absolute;
					top: 60px;
					right: -67px;
					width: 90px;
					/*
					transform: rotate(-90deg);
					-webkit-transform:rotate(270deg);
					*/
					transform: rotate(0deg);
					-webkit-transform:rotate(0deg);
				}
				.timeline2 ul li.in-view:nth-child(odd) .time {
					transform: rotate(-90deg);
					-webkit-transform:rotate(270deg);					 
				}
				.timeline2 ul li.in-view:nth-child(even) .time {
					transform: rotate(-90deg);
					-webkit-transform:rotate(270deg);
				}
			  
			}

.txtblack {
	color: white;
	font-weight: bold;
}
