
@font-face { font-family: Quicksand_Book; src: url('Quicksand_Book.otf'); }

.parcours {
    float: left;
    position: absolute;
    top: 500px; left: 50%; /* à 50%/50% du parent référent */
	transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    
}

html {
	font-family: Quicksand_Book;
	background-color: white;
}

body {
	background-color: white;
	font-family: Quicksand_Book;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
}

.banner {
	display: block;
	width: 400px;
	position: fixed;
	background-color: #23232C;
	margin-left: 0px;
	top: 0;
	overflow: hidden;
	height: 50px;
	float: left;
}

.bannerinscription {
	float: left;
	overflow: hidden;
	position: fixed;
	margin-left: 400px;
	background-color: #23232C;
	color: white;
	top: 0px;
	height: 50px;
	display: block;
	width: 200px;
}

.bannerconnect {
	float: left;
	overflow: hidden;
	position: fixed;
	margin-left: 200px;
	background-color: #F5F5DC;
	color: black;
	top: 0px;
	height: 50px;
	display: block;
	width: 212px;
}

.banner3 {
  float: left;
	overflow: hidden;
	position: fixed;
	margin-left: 211px;
	background-color: #23232C;
	color: white;
	top: 0px;
	height: 50px;
	display: block;
	width: 100%;
}

.nom {
	margin-left: 50px;
	margin-top: 10px;
	float: left;
	color: white;
	text-decoration: none;
}

.log {
	margin-top: -13px;
	float: left;
	margin-left: 50px; 
	
}

.collection {
	float: left;
	height: 400px;
	position: absolute; 
	margin-top: 370px;
	left: 50%; 
	transform: translate(-50%, -50%); 
}

.a {
	color: white;
	text-decoration: none;
}

.b {
	text-decoration: none;
	color: black;
}

.trait {
	float: left;
	width:5px;
    border-left:1px solid gray;
    height: 100px;
	margin-left: -50px;
	margin-top: -10px;
}

.trait2 {
	float: left;
	width:5px;
    border-left:1px solid gray;
    height: 100px;
	margin-left: -50px;
	margin-top: -20px;
}

.trait3 {
	float: left;
	width:5px;
    border-left:1px solid gray;
    height: 100px;
	margin-left: 210px;
	margin-top: -57px;
}

.banner2 {
	display: block;
	width: 100%;
	margin-top: 50px;
	overflow: hidden;
	height: 40px;
	background-color: #F5F5DC;
	position: fixed;
}

.menu {
	width: 100%;
	height: 15px;
 	color: white;
	display: inline;
	position: relative;
	background-color: black;
	overflow: hidden;
}

.menu ul {
	float: left; 
	left: 50%;
	position: relative;
	margin-top: 2px;
	margin-left: -500px;
}

.menu ul li {
	float: left;
	list-style-type : none;
	margin-left : 20px;
	left: -50%;
}

.menu ul li a {
	text-decoration: none;
	color: black;
	display: inline-block;
	height: 70px;
	width: 	200px;
	text-align: center; 
	background-color: #F5F5DC;
	padding-top: 0px;
}

.menu ul li a:hover {
	color: black;
	background-color: white;
}

.moncv {
	float: left;
	text-decoration: none;
	color: white;
	margin-left: 35px;
	margin-top: 10px;
    width: 200px;
}

.monparcours {
	float: left;
	text-decoration: none;
	color: black;
	margin-left: -40px;
	margin-top: 20px;
    width: 200px;
}

.bannerinscription a:hover {
	color: grey;
}

.bannerconnect a:hover {
	color: grey;
}

.piedpageparcours {
	position: absolute;
	background-color: #23232C;
	top: 1000px;
	width: 100%;
	height: 250px;
}

.downloadparcours {
	float: left;
	margin-top: 20px;
	margin-left: 80%;
	color: white;
}

.cv2parcours {
	margin-top: 0px;
	float: left;
	margin-left: 82%;
	width: 100px;
	height: 150px;
}

.button2parcours {
      float: left;
      position: absolute;
      display: inline-block;
      background-color: black;
      border-radius: 5px;
      border: 0px double #cccccc;
      color: white;
      text-align: center;
      font-size: 13px;
      padding: 20px;
      width: 120px;
      transition: all 0.5s;
      cursor: pointer;
      top: 120px; left: 50%; /* à 50%/50% du parent référent */
	transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    background: rgba(0, 0, 0, 0.6);
    height: 15px;
    text-decoration: none;
      }

.button2parcours span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
      }
.button2parcours span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
      }
.button2parcours:hover {
      background-color: black;
      }
.button2parcours:hover span {
      padding-right: 25px;
      }
.button2parcours:hover span:after {
      opacity: 1;
      right: 0;
      }

.contactparcours {
	color: white;
	position: absolute;
	margin-top: 40px;
	left: 50%; /* à 50%/50% du parent référent */
	transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}
